In [1]:
import json
import pandas as pd

In [2]:
file=r'C:\Users\Arvind\Favorites\Downloads\DS_test\DS_test\algoparams_from_ui.json'

In [3]:
with open(file,'rb') as f:
    json_data=json.load(f)

In [4]:
target=json_data['design_state_data']['target']
target

{'prediction_type': 'Regression',
 'target': 'petal_width',
 'type': 'regression',
 'partitioning': True}

In [5]:
df=pd.read_csv(r'C:\Users\Arvind\Favorites\Downloads\DS_test\DS_test\iris.csv')

In [6]:
df

     sepal_length  sepal_width  petal_length  petal_width         species
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [7]:
df.isna().sum()

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
species         0
dtype: int64

In [8]:
feature_handling=json_data['design_state_data']['feature_handling']

In [9]:
len(feature_handling)

5

In [10]:
feature_handling.keys()

dict_keys(['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'species'])

In [11]:
# from json it is clear that we have petal_width is target

In [12]:
df.species.value_counts()

Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: species, dtype: int64

In [13]:
# label endcoding for categorical data

In [14]:
from sklearn.preprocessing import LabelEncoder

In [15]:
lb=LabelEncoder()

In [16]:
df.species=lb.fit_transform(df.species)

In [17]:
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

In [18]:
# with stranderscalling

In [19]:
x,y=df.drop('petal_width',axis=1),df['petal_width']

In [20]:
sc=StandardScaler()
x_=sc.fit_transform(x)

In [21]:
df_x=pd.DataFrame(x_,columns=x.columns)

In [22]:
df_x.species.value_counts()

 0.000000    50
 1.224745    50
-1.224745    50
Name: species, dtype: int64

In [23]:
x_train,x_test,y_train,y_test=train_test_split(df_x,y)

In [24]:
from sklearn.linear_model import LinearRegression

In [25]:
lg=LinearRegression()

In [26]:
lg.fit(x_train,y_train)

LinearRegression()

In [27]:
lg.score(x_test,y_test)

0.9624818471787772

In [28]:

# without standard scalling

In [29]:
df

     sepal_length  sepal_width  petal_length  petal_width  species
0             5.1          3.5           1.4          0.2        0
1             4.9          3.0           1.4          0.2        0
2             4.7          3.2           1.3          0.2        0
3             4.6          3.1           1.5          0.2        0
4             5.0          3.6           1.4          0.2        0
..            ...          ...           ...          ...      ...
145           6.7          3.0           5.2          2.3        2
146           6.3          2.5           5.0          1.9        2
147           6.5          3.0           5.2          2.0        2
148           6.2          3.4           5.4          2.3        2
149           5.9          3.0           5.1          1.8        2

[150 rows x 5 columns]

In [30]:
x,y=df.drop('petal_width',axis=1),df['petal_width']

In [53]:
x_train,x_test,y_train,y_test=train_test_split(x,y)

In [54]:
x_train

     sepal_length  sepal_width  petal_length  species
97            6.2          2.9           4.3        1
104           6.5          3.0           5.8        2
113           5.7          2.5           5.0        2
61            5.9          3.0           4.2        1
89            5.5          2.5           4.0        1
..            ...          ...           ...      ...
86            6.7          3.1           4.7        1
43            5.0          3.5           1.6        0
78            6.0          2.9           4.5        1
5             5.4          3.9           1.7        0
16            5.4          3.9           1.3        0

[112 rows x 4 columns]

In [55]:
lg.fit(x_train,y_train)

LinearRegression()

In [56]:
lg.score(x_test,y_test)

0.9463388150524022

In [47]:

y_pred_1=lg.predict([x_test.iloc[1].values])
y_pred_1

array([2.00128642])

In [48]:
y_test.iloc[1]

1.8

In [37]:
def predict(matrix):
    return lg.predict(matrix)

In [38]:
predict([[5.8,2.7,5.1,2]])

array([1.9087269])